{% extends "home.html" %}

{% block title %} Billing {% endblock %}



{% block body %}
<table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" bgcolor="#e0e0e0" style="border-collapse:collapse;">
    <tr>
        <td><center style="width: 100%;">

                <!-- Visually Hidden Preheader Text : BEGIN -->
                <div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;mso-hide:all;font-family: sans-serif;"> (Optional) This text will appear in the inbox preview, but not the email body. </div>
                <!-- Visually Hidden Preheader Text : END -->

                <div style="max-width: 800px;">
                    <!--[if (gte mso 9)|(IE)]>
                    <table cellspacing="0" cellpadding="0" border="0" width="600" align="center">
                        <tr>
                            <td>
                    <![endif]-->

                    <!-- Email Header : BEGIN -->
                    <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 600px;">
                        <tr>
                            <td style="padding: 20px 0; text-align: center"><img src="https://devel.trust-guard.com/frontend/images/tglogo1.png" width="302" height="52" alt="alt_text" border="0"></td>
                        </tr>
                    </table>
                    <!-- Email Header : END -->

                    <!-- Email Body : BEGIN -->
                    <table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ffffff" width="100%" style="max-width: 600px;">

                        <!-- Hero Image, Flush : BEGIN -->
                        <tr>
                            <td class="full-width-image" align="center" style="width:600px;height: 150px">
                                <div id="hero-bg">
                                </div>
                            </td>
                        </tr>
                        <!-- Hero Image, Flush : END -->

                        <!-- 1 Column Text : BEGIN -->
                        <tr>
                            <td bgcolor="#FFFFFF"><table cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#ffffff">
                                    <tr>
                                        <td style="padding: 40px; font-family: sans-serif; font-size: 15px; mso-height-rule: exactly; line-height: 20px; color: #555555;">
                                            <form action="/processStripeBilling" method="POST" id="payment-form">
                                                <h3>Place Customer Order</h3>
                                                <!--START CUSTOMER INFO-->
                                                <table width="530"  border="0" id="form-field">
                                                    <tbody>
                                                    <tr>
                                                        <td width="76">First Name</td>
                                                        <td width="186"><input name="firstname" type="text" class="billing-form" id="firstname" >&nbsp;</td>
                                                        <td width="57"> Address</td>
                                                        <td width="174"><input name="address" type="text" class="billing-form" id="address" ></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Last Name </td>
                                                        <td><input name="lastname" type="text" class="billing-form" id="lastname"></td>
                                                        <td>Street</td>
                                                        <td><input name="address2" type="text" class="billing-form" id="address2" ></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Phone </td>
                                                        <td><input name="phone" type="text" class="billing-form" id="phone" ></td>
                                                        <td>City </td>
                                                        <td><input name="city" type="text" class="billing-form" id="city" ></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email </td>
                                                        <td><input name="email" type="text" class="billing-form" id="email" required=""></td>
                                                        <td>State </td>
                                                        <td><input name="state" type="text" class="billing-form" id="state" ></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <!--END CUSTOMER INFO-->
                                                <br><br>
                                                <h3>Products</h3>
                                                <!--START PRODUCTS-->
                                                <table  width="100%" border="0" id="form-field">
                                                    <tbody>
                                                    <tr>
                                                        <td width="20"><input type="checkbox" name="product"></td>
                                                        <td>Security Scanned</td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" name="product"></td>
                                                        <td>Privacy Safe</td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" name="product"></td>
                                                        <td>Business Verified</td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                                <!--END PRODUCTS-->
                                                <br><br>
                                                <h3>Billing Details</h3>
                                                <!--START CREDIT CARD INFO-->
                                                <table width="534"  border="0" id="form-field">
                                                    <tbody>
                                                    <tr>
                                                    	<td colspan="4">
                                                    		<div id="card-element">
														      <!-- a Stripe Element will be inserted here. -->
														    </div>

														    <!-- Used to display form errors -->
														    <div id="card-errors"></div>
                                                    	</td>
                                                    </tr>
                                                    <tr>
                                                        <td> Billing Amount</td>
                                                        <td><input name="billingAmount" type="text" class="billing-form" id="billing-amount" size="8" required=""></td>
                                                        <td> Interval</td>
                                                        <td>&nbsp;
                                                            <select name="intervalType" id="intervalType">
                                                                <option value="onetime">One time</option>
                                                                <option value="week">Weekly</option>
                                                                <option value="month">Monthly</option>
                                                                <option value="year">Yearly</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td> First Payment Date</td>
                                                        <td><input name="firstPayment" type="text" class="billing-form datepicker" id="first-payment" data-provide="datepicker" size="10" required=""></td>
                                                        <td>No. of times</td>
                                                        <td><input name="totalCharges" type="text" class="billing-form" id="textfield" size="3" required=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Place Order As</td>
                                                        <td>&nbsp;
                                                            <select name="affiliate" id="affiliate">
                                                                <option value="1">John Doe</option>
                                                                <option value="2">Jane Doe</option>
                                                                <option value="3">Andy M</option>
                                                                <option value="4">Carl Hendrik</option>
                                                            </select>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="4"><center><button type="submit" class="btn">Place Order</button></center></td>
                                                    </tr>
                                                    </tbody>
                                                </table>


                                                <!--END CREDIT CARD INFO-->

                                            </form>
                                        </td>

                                    </tr>

                                </table></td>

                        </tr>
                        <!-- 1 Column Text : BEGIN -->


                    </table>
                    <!-- Email Body : END -->

                    <!-- Email Footer : BEGIN -->
                    <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;">
                        <tr>
                            <td style="padding: 40px 10px;width: 100%;font-size: 12px; font-family: sans-serif; mso-height-rule: exactly; line-height:18px; text-align: center; color: #888888;">
                                © 2006-2017 Trust Guard® LLC <br>
                                <br></td>
                        </tr>
                    </table>
                    <!-- Email Footer : END -->

                    <!--[if (gte mso 9)|(IE)]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
                </div>
            </center></td>
    </tr>
</table>

{% endblock %}