{% extends "home.html" %}

{% block title %} Test Flash Message {% endblock %}

{% block body %}
    <form action="/checking" method="post">
        <textarea name="content" id="" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
    </form>
{% endblock %}