<script src="https://js.stripe.com/v3/"></script>
<!-- CSS Reset -->
<style type="text/css">
    /* What it does: Remove spaces around the email design added by some email clients. */
    /* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
    html, body {
        margin: 0 !important;
        padding: 0 !important;
        height: 100% !important;
        width: 100% !important;
        background: #F0E4E4;
    }
    /* What it does: Stops email clients resizing small text. */
    * {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    /* What it does: Forces Outlook.com to display emails full width. */
    .ExternalClass {
        width: 100%;
    }
    /* What is does: Centers email on Android 4.4 */
    div[style*="margin: 16px 0"] {
        margin: 0 !important;
    }
    /* What it does: Stops Outlook from adding extra spacing to tables. */
    table, td {
        mso-table-lspace: 0pt !important;
        mso-table-rspace: 0pt !important;
    }
    /* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
    table {
        border-spacing: 0 !important;
        border-collapse: collapse !important;
        table-layout: fixed !important;
        margin: 0 auto !important;
    }
    table table table {
        table-layout: auto;
    }
    /* What it does: Uses a better rendering method when resizing images in IE. */
    img {
        -ms-interpolation-mode: bicubic;
    }
    /* What it does: Overrides styles added when Yahoo's auto-senses a link. */
    .yshortcuts a {
        border-bottom: none !important;
    }
    /* What it does: Another work-around for iOS meddling in triggered links. */
    a[x-apple-data-detectors] {
        color: inherit !important;
    }

</style>

<!-- Progressive Enhancements -->
<style type="text/css">
    /* What it does: Hover styles for buttons */
    .credit-info{font-size: 0.8em;}
    .button-td, .button-a {
        transition: all 100ms ease-in;
    }
    .button-td:hover, .button-a:hover {
        background: #555555 !important;
        border-color: #555555 !important;
    }
    #hero-bg{
        width: 600px;
        height: 200px;
        overflow: hidden;
        display: block;
        background-image: url(https://devel.trust-guard.com/frontend/images/assets/billing.jpg);
    }
    input.billing-form{
        /*
                margin: 10px; 0px;
                padding: 5px;
        */
        margin: 10px 0px;
        border: 1px solid #DAD8E1;
    }
    #placeOrder{
        border: none;
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        margin-top: 30px;
    }

    .btn:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }
</style>
<div id="content">
    <table cellpadding="0" cellspacing="0" border="0" height="100%" width="100%" bgcolor="#e0e0e0" style="border-collapse:collapse;">
        <tr>
            <td><center style="width: 100%;">

                    <!-- Visually Hidden Preheader Text : BEGIN -->
                    <div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;mso-hide:all;font-family: sans-serif;"> (Optional) This text will appear in the inbox preview, but not the email body. </div>
                    <!-- Visually Hidden Preheader Text : END -->

                    <div style="max-width: 800px;">
                        <!--[if (gte mso 9)|(IE)]>
                        <table cellspacing="0" cellpadding="0" border="0" width="600" align="center">
                            <tr>
                                <td>
                        <![endif]-->


                        <!-- Email Body : BEGIN -->
                        <table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ffffff" width="100%" style="max-width: 600px;">

                            <!-- Hero Image, Flush : BEGIN -->
                            <!--<tr>
                                <td class="full-width-image" align="center" style="width:600px;height: 150px">
                                    <div id="hero-bg">
                                    </div>
                                </td>
                            </tr>-->
                            <!-- Hero Image, Flush : END -->

                            <!-- 1 Column Text : BEGIN -->
                            <tr>
                                <td bgcolor="#FFFFFF"><table cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#ffffff">
                                        <tr>
                                            <td style="padding: 40px; font-family: sans-serif; font-size: 15px; mso-height-rule: exactly; line-height: 20px; color: #555555;">
                                                <form action="process-billing.php" method="POST" id="payment-form">
                                                    <h3>Personal Information</h3>
                                                    <!--START CUSTOMER INFO-->
                                                    <table width="530"  border="0" id="form-field">
                                                        <tbody>
                                                        <tr>
                                                            <td width="76">First Name</td>
                                                            <td width="186"><input name="firstname" type="text" class="billing-form" id="firstname" >&nbsp;</td>
                                                            <td width="57"> Address</td>
                                                            <td width="174"><input name="address" type="text" class="billing-form" id="address" ></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Last Name </td>
                                                            <td><input name="lastname" type="text" class="billing-form" id="lastname"></td>
                                                            <td>Street</td>
                                                            <td><input name="address2" type="text" class="billing-form" id="address2" ></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Phone </td>
                                                            <td><input name="phone" type="text" class="billing-form" id="phone" ></td>
                                                            <td>City </td>
                                                            <td><input name="city" type="text" class="billing-form" id="city" ></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Email </td>
                                                            <td><input name="email" type="text" class="billing-form" id="email" required=""></td>
                                                            <td>State </td>
                                                            <td><input name="state" type="text" class="billing-form" id="state" ></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--END CUSTOMER INFO-->
                                                    <br><br>
                                                    <h3>Products</h3>
                                                    <!--START PRODUCTS-->
                                                    <table  width="100%" border="0" id="form-field">
                                                        <tbody>
                                                        <tr>
                                                            <td width="20"><input type="checkbox" name="product"></td>
                                                            <td>Security Scanned</td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="checkbox" name="product"></td>
                                                            <td>Privacy Safe</td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="checkbox" name="product"></td>
                                                            <td>Business Verified</td>
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                    <!--END PRODUCTS-->
                                                    <br><br>
                                                    <h3>Billing Details <span class="credit-info">Credit Card # - MM/YY - CVC - POSTCODE</span></h3>
                                                    <!--START CREDIT CARD INFO-->
                                                    <table width="534"  border="0" id="form-field">
                                                        <tbody>
                                                        <tr>
                                                            <td colspan="4">
                                                                <div id="card-element">
                                                                    <!-- a Stripe Element will be inserted here. -->
                                                                </div>

                                                                <!-- Used to display form errors -->
                                                                <div id="card-errors"></div>
                                                            </td>
                                                        </tr>
                                                        <!--<tr>
                                                            <td> Billing Amount</td>
                                                            <td><input name="billingAmount" type="text" class="billing-form" id="billing-amount" size="8" required=""></td>
                                                            <td> Interval</td>
                                                            <td>&nbsp;
                                                                <select name="intervalType" id="intervalType">
                                                                    <option value="onetime">One time</option>
                                                                    <option value="week">Weekly</option>
                                                                    <option value="month">Monthly</option>
                                                                    <option value="quarter">Quarterly</option>
                                                                    <option value="year">Yearly</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td> First Payment Date</td>
                                                            <td><input name="firstPayment" type="text" class="billing-form datepicker" id="first-payment" data-provide="datepicker" size="10" required=""></td>
                                                            <td>No. of times</td>
                                                            <td><input name="totalCharges" type="text" class="billing-form" id="textfield" size="3" required=""></td>
                                                        </tr>-->
                                                        <!--<tr>
                                                            <td>Place Order As</td>
                                                            <td>&nbsp;
                                                                <select name="affiliate" id="affiliate">
                                                                    <option value="1">John Doe</option>
                                                                    <option value="2">Jane Doe</option>
                                                                    <option value="3">Andy M</option>
                                                                    <option value="4">Carl Hendrik</option>
                                                                </select>
                                                            </td>
                                                        </tr>-->

                                                        <tr>
                                                            <td colspan="4"><center><button type="submit" class="btn" id="placeOrder">Place Order</button></center></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>


                                                    <!--END CREDIT CARD INFO-->

                                                </form>
                                            </td>

                                        </tr>

                                    </table></td>

                            </tr>
                            <!-- 1 Column Text : BEGIN -->


                        </table>
                        <!-- Email Body : END -->

                        <!-- Email Footer : BEGIN -->
                        <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px;">
                            <tr>
                                <td style="padding: 40px 10px;width: 100%;font-size: 12px; font-family: sans-serif; mso-height-rule: exactly; line-height:18px; text-align: center; color: #888888;">
                                    © 2006-2017 Trust Guard® LLC <br>
                                    <br></td>
                            </tr>
                        </table>
                        <!-- Email Footer : END -->

                        <!--[if (gte mso 9)|(IE)]>
                        </td>
                        </tr>
                        </table>
                        <![endif]-->
                    </div>
                </center></td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    //Create a Stripe client
    var stripe = Stripe('pk_test_pfjQn73GoOmgP35YgvnONhJT');

    // Create an instance of Elements
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
        base: {
            color: '#32325d',
            lineHeight: '24px',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    // Create an instance of the card Element
    var card = elements.create('card', {style: style});

    // Add an instance of the card Element into the `card-element` <div>
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Handle form submission
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();
        stripe.createToken(card).then(function(result) {
            if (result.error) {
                // Inform the user if there was an error
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server
                stripeTokenHandler(result.token);
            }
        });
    });

    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form, uncomment
        // alert("Created a token with value: "+token.id)
        var stateConfirm = confirm("Are you sure you want to process this bill?")

        if(stateConfirm == true){
            form.submit();
        }

    }
</script>
<script>
    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        startDate: '+1d'
    });

</script>
<!--


        <img id="billing_options" src="/strategicpartners/images/paycards-nopaypal-v.png" alt="billing options" style="margin-top: 60px;">
        <img id="billing_options_h" src="/strategicpartners/images/paycards-nopaypal-h.png" alt="billing options" style="display: none;">


-->