<!doctype html >
<html ng-app="PartnerApp">
<head>
    <meta charset="UTF-8">
    <title>Partners</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,700" rel="stylesheet">-->
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/partnersProduct.js"></script>
</head>

<body ng-controller="PartnerController">
<div class="grid-container" id="grid-container" >
    <div class="grid-x" >
        <h4 class="text-center">TrustGuard Partner Sites</h4>
        <div class="cell small-10 small-offset-1" id="maincontent">
            <ul class="tabs" data-tabs id="example-tabs">
                <li class="tabs-title is-active"><a href="#panel2">Products</a></li>
                <li class="tabs-title"><a href="#panel1" aria-selected="true">Merchants</a></li>
                <li class="tabs-title"><a href="#panel3">Account</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="example-tabs">
                <!-- START MERCHANTS PANEL-->
                <div class="tabs-panel" id="panel1">
                    <table>
                        <thead>
                        <tr>
                            <th width="200">Merchant Name</th>
                            <th>Email</th>
                            <th width="150">Company</th>
                            <th width="150">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for member in members%}
                        <tr>
                            <td>{{member.companyName}}</td>
                            <td></td>
                            <td></td>
                            <td>active</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- END MERCHANTS PANEL-->

                <!-- START PRODUCTS PANEL-->
                <div class="tabs-panel is-active" id="panel2">
                    <p>Select a product from the drop-down menu. You can place an order 3 ways.</p>
                    <ol>
                        <li>Place the API code on your site, this will allow your merchants to purchase directly off your site. </li>
                        <li> Copy the URL and send it to your merchants. This will allow them to sign up without giving you their credit card.</li>
                        <li>Enter the merchants information in your portal.</li>
                    </ol>

                    <div class="grid-x">
                        <div class="cell large-12">

                            <label>Products
                                <!--<select name="product" ng-change="getProductInfo(selectedProduct)" ng-model="selectedProduct">
                                    <option value="" selected>Select Product</option>

                                    <option ng-repeat="product in products" ng-value="{{product.partnerProductID}}"> {{product.productName}}</option>


                                </select>-->
                                {% verbatim %}
                                <table>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Description</th>
                                        <th>Product ID</th>
                                        <th>Scan Type</th>
                                        <th>Release Date</th>
                                        <th></th>
                                    </tr>
                                    <tr ng-repeat="product in products">
                                        <td>{{product.productName}}</td>
                                        <td>{{product.productDescription}}</td>
                                        <td>{{product.planGeneratedID}}</td>
                                        <td>{{product.scanType}}</td>
                                        <td></td>
                                        <td><a class="button small warning" ng-click="removeProduct($index,product.partnerProductID)">x</a></td>
                                    </tr>
                                </table>

                                {% endverbatim %}

                            </label>

                        </div>
                        <div class="cell large-3">
                            <button ng-hide="selectedProduct == NULL" ng-show="selectedProduct" class="button alert" ng-click="removeProduct($index,selectedProduct)" style="margin-top: 25px;margin-left: 10px;">Remove Product</button>
                        </div>
                    </div>

                    <!-- START MODAL PRODUCT  -->
                    <p><a data-open="exampleModal1" class="button primary">Add Product</a></p>
                    <div class="reveal small" id="exampleModal1" data-reveal>
                        <h3 class="text-center" style="margin-bottom: 20px">Add product and set the price</h3>
                        <div class="cell large-6">

                            <!-- START PRODUCT FORM -->
                            <form action="/processCreateProduct" method="post">
                                <div class="grid-x grid-margin-x">

                                    <div class="cell large-6">
                                        <label>Product Name<i>(No spaces)</i>
                                            <input type="text" name="productName" placeholder="MyProduct105">
                                        </label>
                                    </div>
                                    <div class="cell large-6">
                                        <label>Description
                                            <input type="text" name="productDescription" placeholder="Put a short product description">
                                        </label>
                                    </div>
                                    <div class="cell large-6">
                                        <label>Payment Term
                                            <select name="termType">
                                                <option value="day">Daily</option>
                                                <option value="week">Weekly</option>
                                                <option value="month">Monthly</option>
                                                <option value="quarter">Quarterly</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="cell large-6">
                                        <label>Product Type
                                            <select name="productType">
                                                <option value="retail">Retail</option>
                                                <option value="discount">Discount</option>
                                                <option value="wholesale">Wholesale</option>
                                            </select>
                                        </label>
                                    </div>

                                    <div class="cell large-6">
                                        <label>Hold Days
                                            <input type="text" name="holdDays" placeholder="Put number of days">
                                        </label>
                                    </div>
                                </div>
                                <div class="grid-x grid-margin-x">
                                    <fieldset class="cell large-12">
                                        <legend>Scan Type</legend>
                                    </fieldset>
                                    <div class="cell large-3">
                                        <label for="checkbox2">Weekly<input id="quarterly" name="quarterly" type="text"></label>
                                    </div>
                                    <div class="cell large-3">
                                        <label for="checkbox2">Weekly<input id="weekly" name="weekly" type="text"></label>
                                    </div>
                                    <div class="cell large-3">
                                        <label for="checkbox4">Monthly<input id="monthly" name="monthly" type="text"></label>
                                    </div>
                                    <div class="cell large-3">
                                        <label for="">Daily<input id="daily" name="daily" type="text"></label>
                                    </div>

                                    <div class="cell large-3 large-offset-4 margin-top-20">
                                        <button type="submit" class="primary button expanded">Create Product</button>
                                    </div>
                                </div>
                            </form>
                            <!-- END PRODUCT FORM -->

                            <button class="close-button" data-close aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <!-- END MODAL PRODUCT   -->

                    {% verbatim %}<p><h4>Trust Guard Product:   {{info.productName}} </h4></p>{% endverbatim %}

                    <h5>Market Product in 3 ways</h5>
                    <!-- START 3 WAYS -->
                    <div class="grid-x grid-margin-x">
                        <div class="cell large-3">
                            <ul class="vertical tabs" data-tabs id="3-way-tabs">
                                <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Method 1</a></li>
                                <li class="tabs-title"><a href="#panel2v">Method 2</a></li>
                                <li class="tabs-title"><a href="#panel3v">Method 3</a></li>
                            </ul>
                        </div>

                        <div class="cell large-9">
                            <div class="tabs-content" data-tabs-content="3-way-tabs">
                                <div class="tabs-panel is-active" id="panel1v">
                                    <h5>Method #1</h5>
                                    <p><strong>Link to Landing Page:</strong> <br><a href="#" class="button success" style="color:#FFF4F4">Trust Guard Landing Page</a></p>
                                </div>
                                <div class="tabs-panel" id="panel2v">
                                    <h5>Method #2</h5>
                                    <strong>Install Iframe Code:</strong>
                                    <textarea name="" id="" cols="30" rows="3"><iframe src="https://secure.trust-guard.com/frontend/billing.php?id=426" style="width: 880px; height: 600px; margin: 0 auto;"></iframe></textarea>
                                </div>
                                <div class="tabs-panel" id="panel3v">
                                    <h5>Method #3</h5>
                                    <div >
                                        <!--https://secure.trust-guard.com/frontend/billing.php?id=426-->
                                        <iframe src="" style="width: 880px; height: 600px; margin: 0 auto;"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END 3 WAYS -->
                    </div>
                </div>
                <!-- END PRODUCTS PANEL-->
                <!-- START ACCOUNT PANEL-->
                <div class="tabs-panel" id="panel3">
                    <h4>Account</h4>
                    <form action="">
                        <div class="grid-x grid-margin-x">

                            <div class="cell large-6">
                                <label>Name</i>
                                    <input type="text" placeholder="John Doe">
                                </label>
                            </div>
                            <div class="cell large-6">
                                <label>Login Email
                                    <input type="email" placeholder="johndoe@gmail.com">
                                </label>
                            </div>
                        </div>
                        <div class="grid-x grid-margin-x">
                            <div class="cell large-12">
                                <h4>Bank Account Information</h4>
                            </div>
                            <div class="cell large-6">
                                <label>Name on the Account
                                    <input type="text" placeholder="John Doe">
                                </label>
                            </div>
                            <div class="cell large-6">
                                <label>Account Number
                                    <input type="text" placeholder="09873354713">
                                </label>
                            </div>
                            <div class="cell large-6">
                                <label>Bank Routing Number
                                    <input type="text" placeholder="12312313123">
                                </label>
                            </div>
                            <div class="cell large-6">
                                <label><strong>or Paypal Account</strong>
                                    <input type="text" placeholder="paypalinvoice@yourcompany.com">
                                </label>
                            </div>

                            <div class="cell large-3 large-offset-4 margin-top-20">
                                <button type="submit" class="primary button expanded">Update Account</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- END ACCOUNT PANEL-->
            </div>
            <!-- END TABS  -->
        </div>
        <p class="text-center" id="footer">© 2006 - 2017 Trust Guard - A Global Marketing Strategies company. All Rights Reserved. PCI Scanning and PCI Compliance powered by Clone Guard </p>
    </div>
    <script type="text/javascript" src="js/vendor/jquery.js"></script>
    <script type="text/javascript" src="js/vendor/what-input.js"></script>
    <script type="text/javascript" src="js/vendor/foundation.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
