{% extends "home.html" %}
{% block title %}Profile {% endblock %}

{% block body %}

	<p>Profile Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum temporibus et iste quisquam repellat! Fuga mollitia dignissimos, et adipisci commodi expedita fugit debitis perspiciatis, repellat error quos ea laboriosam veritatis.</p>
	<ul>
	{% for table in tables %}
		<li>{{table.username}}</li>
	{% endfor %}
	</ul>
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="2TKWX5DGJ36VJ">
<input type="hidden" name="notify_url" value="https://freeprivacypolicy.com/">
<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


{%endblock%}