<!DOCTYPE html>
<html lang="en" ng-app="ServerApp">
<head>
    <meta charset="UTF-8">
    <title>Server Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/js/angular.js"></script>
</head>
<body ng-controller="ServerController">
<!-- <input type="text" ng-model="namer"> -->
{% verbatim %}
<!-- <ul>
    <li ng-repeat="content in contents">{{content.companyID}} - {{content.companyName}} <button ng-click="remove($index,content.companyID)">x</button></li>
</ul> -->
{{content}}
{% endverbatim %}
<div id="content" style="height: 1000px">
	<script src="http://angular.dev/js/chatwidget/widget.js" type="text/javascript"></script>
    <div id="example-widget-container"></div>
</div>

</body>
</html>