body{
	background: #ECECEC;
	color: #575756;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}
h1, h2, h3, h4, h5,.tabs-title > a {
    color: #575756;
}


/*Classess*/
.text-center{margin: 0 auto;}
.tabs-title > a{font-size: 1em;}
.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    background: #2fac66;
    color: #fff;
}
.margin-top-20{margin-top: 20px;}
.reveal.small {
    width: 60% !important;
}
/*button classes*/
.button.primary:hover, .button.primary:focus {
    background-color: #2fac66;
    color: #fff;
}
a.removeButton,#removeButton{
	display: block;
	border:1px solid #2fac66 !important;
	color: #fff;
	padding: 5px;
	background: #3cb0fd;
	font-size: 3em;
}
/*Main Elements*/
#maincontent{
	border: 3px solid #e4dede;
	padding: 15px;
	margin-top: 20px;
	background: #fff;
	border-radius: 6px
}
#grid-container{margin-top: 20px;}
#footer{
	padding: 20px 0;
	text-align: center;
	font-size: 16px;
	color: #706f6f;
	width: 35em;
}
